@model LoginViewModel
<h2>Login</h2>
<form asp-action="Index">

    <input asp-for="UserName" />
    <br />
    <input asp-for="Password" />
    <br />
    <input asp-for="IsPersistent" />
    <br />
    <br />
    <input type="submit" name="name" value="Logar" />
</form>