@model HomeViewModel


<div class="row">
    <div id="carroseul" class="col">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-1.jpg" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-2.jpg" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-3.jpg" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-4.jpg" />
                    </li>
                </ul>
            </div>
            <div>
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
            </div>
            <div>	    </div>

        </div>
    </div>
</div>


<div class="row">
    <div id="menu">
        <ul>
            <li>
                @*<img class="icon" src="~/images/brasil.png" />*@
                <div class="icon bandeiras brasil"></div>

                Brasil
            </li>
            <li>
                @*<img class="icon" src="~/images/alemanha.png" />*@
                <div class="icon bandeiras alemanha"></div>
                Alemanha
            </li>
            <li>
                @*<img class="icon" src="~/images/grecia.png" />*@
                <div class="icon bandeiras grecia"></div>
                Grecia
            </li>
            <li>
                @*<img class="icon" src="~/images/eua.png"*@ 
                <div class="icon bandeiras eua"></div>
                EUA
            </li>
            <li>
                @*<img class="icon" src="~/images/canada.png" />*@
                <div class="icon bandeiras canada"></div>
                Canada
            </li>
            <li>
                @*<img class="icon" src="~/images/argentina.png" />*@
                <div class="icon bandeiras argentina"></div>
                Argentina
            </li>
            <li>
                <div class="icon bandeiras japao"></div>
                
                @*<img class="icon" src="~/images/japao.png" />*@
                Japão
            </li>
            <li>
                @*<img class="icon" src="~/images/italia.png" />*@
                <div class="icon bandeiras italia"></div>

                Italia
            </li>
            <li>
                @*<img class="icon" src="~/images/espanha.png" />*@
                <div class="icon bandeiras espanha"></div>
                Espanha
            </li>
            <li>
                <div class="icon bandeiras portugal"></div>
                @*<img class="icon" src="~/images/portugal.png" />*@
                Portugal
            </li>
        </ul>
    </div>
</div>



<div class="row">
    <div class=" col">
        <vc:noticias quantidade="3" noticiasurgentes="true"></vc:noticias>
    </div>
</div>
